// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organ {
  font-family: sans-serif;
  color: #bbb
}

.keyboard {

  width: 500px;
  text-align: center;
  border: 1px solid #eac;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 35px;
}

.name-input {
  display: inline-block;
  border: 1px solid blue;
  padding: 20px;
}

#track-name-input {
  display: block;
  outline: none;
}

#track-name-label {
  text-align: center;
}

.recorder {
  width: 500px;
  border: 1px solid #ead;
  height: 80px;
}

.jukebox {
  width: 500px;
  border: 1px solid #eda;
}

#stop-recording {
  background-color: red;
}

#start-recording {
  color: red;
  background-color: red;
  border-radius: 50px;
}

#play-button {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid green;
}

.btn-text {
  margin: 10px;
  position: relative;
  bottom: 7px;
}


.organKey {
  display: inline-block;
  width: 38px;
  height: 160px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
}

.pressed {
  background-color: #ddd;
}

.keyboard:focus {
  outline: none;
}
